.top-bar .name h1 a {
	font-family: Helvetica;
	font-weight: 700;
	font-size: 30px;
}

.top-bar {
	font-family: Helvetica;
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	color: #FFFFFF;
	background: #FF6666;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	font-family: Helvetica;
	font-weight: 700;
	font-size: 14px;
	color: #FFFFFF;
	background: #FF6666;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out; }

.top-bar-section li:not(.has-form) a:not(.button):hover {
	font-family: Helvetica;
	font-weight: 700;
	font-size: 14px;
	color: #FFFFFF;
	background: #FF4444;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out; }

body{
	background-position:center;
	background-image:url(/img/lextranpic.jpg);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:fixed;
}

.box_1 {
	width: 100%;
	margin: 220px auto;
	text-align: center;
}

.box_2 {
	background: #FFFFFF;
	width:100%;
	text-align: center;
	margin: 0 auto;
}

.box_2 span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal; 
}